.hero-section {
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fec4cf;
}

.card {
  margin: auto;
  width: 18rem;
  height: 400px;
}

.card img {
  height: 100px;
  width: 100px;
  padding: 0.4rem;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .hero-section {
    height: 300vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  .card {
    margin: 10rem auto;
    width: 18rem;
    height: 400px;
  }
}
